{% extends 'room/main.htm'%}

{% block content %}

   <style>
     #availabel {
          color: green;
     }
   </style>
   {% if request.user.is_authenticated %}
   <h3>Hello {{request.user}}!</h3>
   {% endif %}

<br>
<marquee behavior="scoroll" direction="left" style="color: rebeccapurple;" ><h2>Wel come to Rental Room Management</h2></marquee>

    <h3>ALL AVAILABLE ROOMS</h3> <br><h4 style="color:red">*User is allowed to order one room if you order more than one it will cancel by automatically</h4>
    <hr>

    <br>

    
        {% for room in room_list%}
            

        <div class="card">
            <div class="card-header">
                {{room.city}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{room}}</h5>
              <p class="card-text">Room Type : {{room.room_type}}</p>
              <p class="card-text">Room Price : {{room.price}} INR</p>
              <p class="card-text">Address : {{room.address}}</p>
              <p class="card-text" id="availabel" > Availablity Status : Available</p>
               {% if request.user != room.owner%}
              <a href="{% url 'room' room.id %}" class="btn btn-primary">View Room</a> &nbsp;&nbsp;&nbsp;
              {% endif %}
              {% if request.user == room.owner %}
              <a href="{% url 'update-room' room.id %}" class="btn btn-info">Upadate Room</a>&nbsp;&nbsp;&nbsp;
              <a href="{% url 'delete' room.id %}" class="btn btn-danger">Delete Room</a>
              {% endif %}
            </div>
          </div>
          <br>
        {% endfor %}

{% endblock %}